body {
    background-color: burlywood;
    font-family: "Lucida Sans", sans-serif;
    text-align: justify;
}

.welcome {
    background-color: #38ff67;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 20px 10px;
}

.description {

}

.headband {
    background-color: #68a995;

    padding: 7px 50px;
    display: flex;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.headband:hover {
    background-color: #64b596;
}
.headband:active {
    background-color: darkcyan;
    font-weight: bold;
}

.icon {
    width: 1em;
    padding: 2px 5px;
}

.demo_table {
    margin-left: auto;
    margin-right: auto;
    width: 97%;
}
.demo_table_heads {
    background-color: #ff7031;
    text-align: center;
    border-radius: 10px;
    height: 2.5em;
}
.demo_table_date_col {
    border: 1px solid black;
}
.demo_table_info_cols {
    border-right-style: dashed;
    border-right-width: 1px;
    border-right-color: black;
}
.demo_table_info_cols_top {
    border-top: 1px black dashed;
    border-radius: 2px 0;
}
.demo_table_info_cols_bottom {
    border-bottom: 1px black dashed;
}
.demo_table_info_cols_left {
    border-left: 1px black dashed;
}
.demo_table_img_col {
    max-height: 100px;
    max-width: 200px;
    justify-content: center;
}
.always_visible {
    bottom: 0;
    position: sticky;
}
.img_table {
    max-height: 100px;
    max-width: 200px;
}

.flex_row {
    flex-direction: row;
}
.flex_col {
    flex-direction: column;
}
.flex_row, .flex_col {
    display: flex;
    justify-content: space-between;
}

.avistamiento {
    background-color: #f5885b;
}
.contacto {
    background-color: #ff65b1;
}
.avistamiento, .contacto {
    border-radius: 10px;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.img_preview_div {
    margin-left: 20px;

}
.img_preview_img {
    display: none;  /*By default is not displayed, this is modified on script*/
    max-width: 200px;
    max-height: 200px;
}

input[type = 'text'], select {
    border-radius: 5px;
    border-color: #f64949;
    background-color: #eae5bb;
}

button {
    border-radius: 5px;
    background-color: #46ff56;
    border-color: #8eca81;
}

.correct_input {
    background-color: #46ff56;
    border-color: green;
}
.wrong_input {
    background-color: #f64949;
    border-color: red;
}

input[type = 'text'] {
    width: 100%;
    max-width: 400px;
}

.credits {
    color: #8eca81;
    text-align: right;
    padding: 5px;
}

@media (max-width: 700px) {
    .disappear_lv1 {
        display: none;
    }
    .flex_row {  /*A row is no longer a row*/
        flex-direction: column;
    }
}
@media (max-width: 400px) {
    .disappear_lv2 {
        display: none;
    }
}