<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Avistadapp - Estadísticas</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/styles2.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--<script src="../scripts/flot/jquery.flot.min.js"></script>
    <script src="../scripts/flot/jquery.flot.time.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>
<body>
<div class="welcome round_square">Estadísticas</div>
<div class="flex_row center">
    <div id="grafico_lineas_placeholder" class="statistic_graphs_div">
<!--        <img alt="gráfico: cantidad de avistamientos por día" src="../images/example/grafico_lineas.PNG" class="round_square statistic_graphs">-->
    </div>
    <div id="grafico_torta_placeholder" class="statistic_graphs_div">
<!--        <img alt="gráfico: total de avistamientos por tipo" src="../images/example/grafico_torta.PNG" class="round_square statistic_graphs">-->
    </div>

</div>
<div class="flex_row center">
    <div id="grafico_barras_placeholder" class="statistic_graphs_div">
<!--        <img alt="cantidad de avistamientos por tipo para cada mes" src="../images/example/grafico_barras.PNG" class="round_square statistic_graphs">-->
    </div>
</div>

<a href="../cgi-bin/index.py">
    <div class="box round_square">
        <div class="center bold">Inicio</div>
    </div>
</a>

<p id="infop"></p>

<script src="../scripts/grafico_lineas.js"></script>
</body>
</html>