.modal_environment {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: rgba(79, 69, 255, 0.47);
}

.modal_box {
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    width: 50%;
    height: 50%;
}

.accept_button {
    background-color: limegreen;
    color: ghostwhite;
}
.accept_button:hover {
    background-color: green;
}

.decline_button {
    background-color: red;
    color: white;
}
.decline_button:hover {
    background-color: brown;
}