body {
    background-color: burlywood;
    font-family: "Lucida Sans", sans-serif;
    text-align: justify;
}

.round_square {
    border-radius: 15px;
}
.box {
    background-color: #f5885b;
    padding: 20px;
    margin: 10px;
}

.space {
    margin: 10px 5px;
    padding: 5px;
}

.center {
    margin: auto;
    width: 80%;
}